<section class="lattest-product-area pb-40 category-list">
    <div class="row">
      <% if(products.length > 0) { %>
      <% for (let product of products) { %>
      <div class="col-md-6 col-lg-4">
        <div class="card text-center card-product">
          <div class="card-product__img">
            <img class="card-img" src="<%= product.image %>" alt="">
            <ul class="card-product__imgOverlay">
              <li style="margin-top: 10px;"><a href="/update-product/<%= product.id %>" style="width: 37px; height: 37px; background-color: #8894ff; text-decoration: none; padding: 7px 12px; cursor: pointer; display: inline-block;" title="Update-product"><i class="fas fa-arrow-up" style="color: white; font-size: 15px; text-align: center;"></i></a></li>
              <li><button title="Delete-product" name="delete"><i class="fas fa-trash-alt"></i></button></li>
              <li><button><i class="ti-heart"></i></button></li>
            </ul>
          </div>
          <div class="card-body">            
            <h4 class="card-product__title"><a href="/products/<%= product.id %>"><%= product.title %></a></h4>
            <p class="card-product__price">UAH <%= product.price %></p>
          </div>
        </div>
      </div>
      <% } %>      
      <% } else { %>
        <h2>Products not found</h2>
        <% } %>
    </div>
  </section>
</div>
</div>
</div>
</section>