<%- include('../layout/header.ejs') %>
	<!--================ End Header Menu Area =================-->

  <main class="site-main">
    
    <!--================ Hero banner start =================-->
    <%- include('../layout/HomePage/banner.ejs') %>
    <!--================ Hero banner start =================-->

    <!--================ Hero Carousel start =================-->
    <%- include('../layout/HomePage/carousel.ejs') %>
    <!--================ Hero Carousel end =================-->

    <!-- ================ trending product section start ================= -->  
    <%- include('../layout/HomePage/trending-p.ejs') %>
    <!-- ================ trending product section end ================= -->  


    <!-- ================ offer section start ================= --> 
    <%- include('../layout/HomePage/offer-sec.ejs') %>
    <!-- ================ offer section end ================= --> 

    <!-- ================ Best Selling item  carousel ================= --> 
    <%- include('../layout/HomePage/best-sell.ejs') %>
    <!-- ================ Best Selling item  carousel end ================= --> 

    <!-- ================ Blog section start ================= -->  
    <%- include('../layout/HomePage/blog-sec.ejs') %>
    <!-- ================ Blog section end ================= -->  

    <!-- ================ Subscribe section start ================= --> 
    <%- include('../layout/HomePage/subscribe-sec.ejs') %>
    <!-- ================ Subscribe section end ================= --> 

    

  </main>

  

  <!--================ Start footer Area  =================-->	
	<%- include('../layout/footer.ejs') %>
	<!--================ End footer Area  =================-->



  <script src="/vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="/vendors/skrollr.min.js"></script>
  <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="/vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="/vendors/jquery.ajaxchimp.min.js"></script>
  <script src="/vendors/mail-script.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>